
body {
    font-weight: 300;
}


.header {
    margin: 50px;
    text-align: center;
    color: white;
    font-weight: 300;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    border: solid 1px black;
    display: inline-block;
    margin-left: 10px;
}

.column {
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 10px;
    z-index: 999;
}

.station {
    border: 1px solid black;
    background-color: white;
    height: 55px;
    width: 150px;
    padding-right: 0px;
    padding-top: 0px;
}

.row {
    margin-top: 10px;
}

.footer {
    background-color: black;
    color: yellow;
    height: 50px;
    width: 100px;
    margin: 25px;
    /* padding-top: 10px; */
    font-weight: 100;
    border-radius: 5px;
}